{% extends "core/base.html" %}
{% load static %}
{% block title %}Acerca de{% endblock %}

{% block headers %}
<h1 class="text-uppercase">002/Vos</h1>
<span class="subheading">Información</span>
{% endblock %}

{% block content %}
<div class="section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto pb-5">
                <div class="text-dark">
                    <div class="section-heading">
                        <img class="avatar mb-30" src="{% static 'core/img/avatar.png' %}">
                        <h4 class="text-uppercase">Ej. bio</h4>
                    </div>
                    <p>We choose to go to the moon in this decade and do the other things, not because they are easy, but because they are hard, because that goal will serve to organize and measure the best of our energies and skills, because that challenge is one that we are willing to accept, one we are unwilling to postpone, and one which we intend to win.</p>
                    <p>There can be no thought of finishing for "aiming for the stars". Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>
                    <p>As I stand out here in the wonders of the unknown at Hadley, I sort of realize there's a fundamental truth to our nature, Man must explore... and this is exploration at its greatest.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}