<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %} {% endblock %} | Personal</title>

    <!-- Bootstrap -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Fuentes -->
    <link href="{% static 'favicon-new.ico' %}" rel="shortcut icon" type="image/png"/>
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- Estilos -->
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <h5 class="text-uppercase">Mena</h5>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portfolio' %}">Portafolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Cabecera -->
    <header class="masthead" style="border-bottom: 1px solid #343a40">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        {% block headers %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contenido Principal -->
    {% block content %} {% endblock %}

    <!-- Condicional -->
    {% if request.path == "/portfolio/" %}
    <div class="section redes border-top border-bottom">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="h4 list-inline">
                        <li class="list-inline-item">LinkedIn</li>
                        <li class="list-inline-item">Github</li>
                        <li class="list-inline-item">Youtube</li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Pié de página -->
    <footer class=" footer py-5">
        <div class="container">
            <div class="row text-nowrap justify-content-between align-items-center">
                <div class="col-4">
                    <span class="small">Personal {% now 'Y' %}</span>
                </div>
                <div class="justify-content-md-center">
                    <h1 class="text-dark">ϟ.</h1>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    &copy; <span class="small">Natalia E. M.</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'core/js/clean-blog.min.js' %}"></script>
</body>
</html>